<div class="hero-main">
<div class="hero sec1">

    <img src="../../static/images/logo.svg" class="hero-logo" alt="college">

    <div class="input-box">
        <input type="text" placeholder="Hyderabad Medical Colleges" />

        <button>
            <svg xmlns="http://www.w3.org/2000/svg" x="20" height="20" width="20" viewBox="0 0 50 50">
                <path d="M 21 3 C 11.601563 3 4 10.601563 4 20 C 4 29.398438 11.601563 37 21 37 C 24.355469 37 27.460938 36.015625 30.09375 34.34375 L 42.375 46.625 L 46.625 42.375 L 34.5 30.28125 C 36.679688 27.421875 38 23.878906 38 20 C 38 10.601563 30.398438 3 21 3 Z M 21 7 C 28.199219 7 34 12.800781 34 20 C 34 27.199219 28.199219 33 21 33 C 13.800781 33 8 27.199219 8 20 C 8 12.800781 13.800781 7 21 7 Z"></path>
                </svg>
        </button>
    </div>
    
    <button class="contact-btn">
    Contact Us
    </button>
    
</div>
<div class="hero-img sec2">
    <div class="text">
        <p class="text1">How often have you worried about college?</p>
        <p class="text2">We'll guide you to make the <span>Best Choice</span></p>
    </div>
    <img src="../../static/images/hero.png" class="hero-logo2" alt="">
</div>
</div>
 
<div class="sec3">
    <h1>Best <span class="city-col">Cities</span> to <span>Study</span></h1>
    <div class="city-cards">
        <div class="card card-1">
            <img src="../../static/images/city_hyderabad.png" alt="">
            <p><strong>Hyderabad</strong></p>
            <p>Oldest shit place</p>
        </div>
        <div class="card card-2"><img src="../../static/images/city_agra.png" alt="">
            <p><strong>Hyderabad</strong></p>
            <p>Oldest shit place</p></div>
    </div>
    <button class="clg-loc">Search Colleges in your Location</button>
</div>


