<link rel="stylesheet" href="/static/css/exam_section.css">
<link rel="stylesheet" href="/static/css/exam_section.css.map">


<section id="popular-exam">



    <div id="exam-section">
        <div class="btn-headings">
            <h2>Popular exams</h2>
            <div class="apply-btn">Apply Exams ></div>
        </div>
        <p class="sentence-1">
            Choosing the right college is vital for your future career,
            and the **FindCollege**.
        </p>


    </div>

    <div id="cards">
        {% for exams_card in exams_cards %}
        <div class="exam-cards">
            <div class="exam-type">
                <div class="headings">
                    <p class="header-eng">{{ exams_card.stream }}</p>
                    <h4 class="jee-heading"> {{ exams_card.title }}</h4>
                </div>
                <div class="img-container"> <!-- img container-->
                    <img src="{{ exams_card.logo_path }}" alt="{{ exams_card.title }}">
                </div>
            </div>
            <div class="date-application">
                <p class="exam-date">{{ exams_card.date }}</p>
                <a href="?exam-apply={{exams_card.id}}">Process your application</a>
            </div>
        </div>
        {% endfor %}
    </div>

</section>