<link rel="stylesheet" href="/static/css/main.css">
<link rel="stylesheet" href="/static/css/main.map.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">


<link rel="stylesheet" href="/static/css/exam_section.css">
<link rel="stylesheet" href="/static/css/exam_section.css.map">



<section id="popular-exam" class="margin">



    <div id="exam-section">
        <div class="btn-headings">
            <h2>Popular <Span class="">Exams</Span></h2>
            <div class="apply-btn">Apply Exams ></div>
        </div>
        <p class="sentence-1">
            Choosing the right college is vital for your future career,
            and the **FindCollege**.
        </p>


    </div>

    <div id="cards">
        {% for exams_card in exams_cards %}
        <div class="exam-cards">
            <div class="exam-type">
                <div class="headings">
                    <p class="header-eng">{{ exams_card.stream }}</p>
                    <h4 class="jee-heading"> {{ exams_card.title }}</h4>
                </div>
                <div class="img-container"> <!-- img container-->
                    <img src="{{ exams_card.logo_path }}" alt="{{ exams_card.title }}">
                </div>
            </div>
            <div class="date-application">
                <p class="exam-date">{{ exams_card.date }}</p>
                <a href="?exam-apply={{exams_card.id}}">Process your application</a>
            </div>
        </div>
        {% endfor %}
    </div>

</section>