<footer>
    <div class="footer_items">   
        <div class="about">
            <img src="/static/images/logo.svg" alt=""> 
            <div class="about_items">
                <div>About Find College</div>
                <div>Contact Us</div>
                <div>Career</div>
                <div>Terms & Conditions</div>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-linkedin-in"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>  
        </div>
        <div class="universities">
            <h2>TOP UNIVERSITIES</h2>
            <hr color="#FF6B00">
            <div>Engineering</div>
            <div>Medical</div>
            <div>Management</div>
            <div>Law</div>
            <div>Commerce</div>
            <div>Science</div>
            <div>Art</div>
        </div>
        <div class="colleges">
            <h2>TOP COLLEGES</h2>
            <hr color="#FF6B00">
            <div>MBA</div>
            <div>BE/B.Tech</div>
            <div>MCA</div>
            <div>BCA</div>
            <div>M.Tech</div>
            <div>MA</div>
            <div>BA</div>
        </div>
        <div class="exams">
            <h2>TOP EXAMS</h2>
            <hr color="#FF6B00">
            <div>CAT</div>
            <div>GATE</div>
            <div>Jee-Mains</div>
            <div>NEET</div>
            <div>XAT</div>
            <div>CLAT</div>
            <div>MAT</div>
        </div>
    </div>
    <div class="rights">
        © 2023 Find College. All rights reserved.
    </div>
</footer>
