*{
    padding: 0;
    margin: 0;
}
footer{
    position:relative;
    bottom:0;
    display:block;
    width:100%;
    .footer_items{
        display:flex;
        justify-content:space-between;
        // max-width: 80%;
        // margin: 80px 80px 50px;
        @media screen and (min-width:768px){
            max-width:100%;
            margin:80px 20px 20px 20px;
        }
        @media screen and (min-width:1024px){
            max-width:80%;
            margin:80px 20px 50px 100px;  
        } 
        @media screen and (min-width:1535px){
            max-width:60%;
            margin:150px 100px 60px 240px;
        }
        .about{
            img{
                width: 180px;
                object-fit: contain;
            }
            .about_items{
                margin-top:10px;
                div{
                    gap: 30px;
                }
            }
        }
        .universities{
            hr{
                margin-bottom: 14px;
            }
            @media screen and (min-width:768px){
                 div.universities > div{
                    font-size: 12px;
                 }
                
            }
        }
        .colleges{
            hr{
                margin-bottom: 12px;
            }
        }
        .exams{
            hr{
                margin-bottom: 12px;
            }
        }
    }
   .rights{
        background-color:#FF6B00;
        height:40px ;
        display:flex;
        align-items:center;
        color: #404040;
        padding-left: 230px;
        
   }
   
   
}